<div class="@HeaderCssClass" @onclick="Toggle">
    @if (Collapsed)
    {
        <span class="oi oi-chevron-right mr-1"></span>
    }
    else
    {
        <span class="oi oi-chevron-bottom mr-1"></span>
    }
    @Title
</div>
<div style="@(Collapsed ? "display: none" : "initial")" class="@ContentCssClass">
    @ChildContent
</div>