.login-form {
    min-width: 320px;
}

.login-form * {
    margin-left: 20px;
    margin-right: 20px;
}

::deep .login-input {
    width: calc(100% - 40px);
    height: 40px;
    margin-bottom: 5px;
}



.login-btn {
    width: calc(100% - 40px);
    height: 40px;
    margin: 20px;
}

.login-nav-link {
    padding: 0;
 }

.register-btn {
    width: calc(100% - 40%);
    height: 40px;
    margin: 20px;
    
}