<div class="d-flex justify-content-center category-bar">
    @if (_categories is not null)
    {
        @foreach (var category in _categories)
        {
            <h3 class="align-self-center category-nav" onclick="@(() => OnCategorySelected(category))">
                @category.Name
            </h3>
        }
    }
</div>