@inherits LayoutComponentBase

<PageTitle>ElectronicShopper</PageTitle>

<div class="page">
    <main>
        <div class="top-bar">
            <AppBar/>
            <CategoryBar/>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </main>
</div>