.product-img-preview {
    max-height: 400px;
    width: auto;
}

.product-img-miniature {
    height: 60px;
    width: 60px;
    border: #8b8b8b solid 1px;
    border-radius: 15px;
    padding: 0;
    cursor: pointer;
    object-fit: contain;
}

.product-img-miniature:hover {
    border-color: black;
}


.product-purchase-count {
    width: 60px;
    text-align: center;
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.section-divider {
    border-top: #8b8b8b solid 1px;
    margin-top: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}